@import url(./cmps/book-details.css);
@import url(./cmps/user-msg.css);
@import url(./cmps/book-preview.css);
@import url(./cmps/book-filter.css);
@import url(./cmps/book-edit.css);
@import url(./cmps/book-list.css);
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
}

body {
    margin: 0;
    font-size: 20px;
}
button {
    font-size: 15px;
    background-color: rgb(132, 135, 135);
    border-radius: 10px;
}