.book-preview-container {
    font-size: 13px;
    padding: 6px;
    border: 1px solid black;
    background-color: #e6d896;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.book-preview-container img {
    width: 45%;
}