.mail-compose {
    position: fixed;
    right: 10px;
    left: 10px;
    bottom: 10px;
    width: initial;
    z-index: 100;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0.9em;
}

.compose-title {
    background: #404040;
    color: #fff;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    width: 1.2em;
    cursor: pointer;
    border-radius: 2em;
}

.compose-to, .compose-subject {
    align-items: center;
    border-bottom: 1px solid #D7D9D9;
    padding: 10px 15px;
}

.mail-compose textarea {
    padding: 10px 15px;
}

.mail-compose input, .mail-compose textarea {
    outline: none;
    border: none;
    font-size: 1em;
    width: 100%;
}

.compose-actions {
    margin: 10px 15px;
    justify-content: space-between
}

.mail-compose textarea {
    padding: 10px 15px;
}

.compose-btn-delete {
    background-color: transparent;
    border-radius: 25%;
}

.compose-btn-send {
    padding: 10px 20px;
    background-color: #297BE6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.mail-compose span {
    color: #7e7e7e;
    margin-right: 10px;
    cursor: default;
}

@media (min-width:740px) {
    .mail-compose {
        right: 50px;
        bottom: 0;
        width: 500px;
        left: initial;
    }
}