.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.mail-compose-btn {
    background-color: #fff;
    gap: 10px;
    color: #3c4043;
    border-radius: 50%;
    margin-bottom: 30px;
    position: fixed;
    padding: 20px;
    bottom: 40px;
    right: 40px;
    z-index: 10;
    box-shadow: -1px 1px 80px rgb(81 86 90 / 30%), 0 1px 11px 6px rgb(60 64 67 / 15%);
    
}

.mail-compose-btn:hover {
    transform: rotate(540deg);
    transition: transform .85s, opacity .85s;
}

.email-menu>* {
    padding: 10px;
    margin-inline-end: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #202124;
    gap: 5px;
}

.side-bar:hover {
    border-radius: 0 16px 16px 0;
    background-color: #F1F3F4;
}

.active {
    background-color: #fce8e6;
    font-weight: bold;
    color: #d61200;
}

.email-menu .active {
    background-color: #fce8e6;
    font-weight: bold;
    color: #d61200;
}

@media (min-width: 1000px) {
    .mail-compose-btn {
        position: initial;
        padding: 10px 15px 10px 15px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        border-radius: 2em;
        z-index: initial;
    }
    .email-side-bar {
        /* min-width: 255px; */
        /* padding-left: 20px; */
        display: flex;
        /* min-width: 255
    px
    ; */
        padding-left: 3%;
        padding-right: 5%;
        flex-direction: column;
        align-content: flex-end;
        align-items: center;
    }
    .email-menu {
        flex-direction: column;
    }
    .email-menu>* {
        border-radius: 0 16px 16px 0;
    }
}

@media (max-width:700px) {
    .email-side-bar {
        display: flex;
        height: 50px;
        justify-content: space-around;
    }
    .email-app {
        flex-direction: column;
    }
}